In [1]:
import pandas as pd
import psycopg2

In [2]:
uri = 'postgres://uh_mzocvti0pmas3:pr7kvFRvTeqQK7pN6bstHiws1revfzGa@127.0.0.1:7080/rdsbroker_723069ee_da4e_4005_91bb_05ae87d4c572'
connection = psycopg2.connect(uri)
cursor = connection.cursor()

In [3]:
sql = ''' select * from public."omis-order_hourlyrate" limit 10 '''
cursor.execute(sql)
cursor.fetchall()

[('7e1ca5c3-dc5a-e511-9d3c-e4115bead28a',
  'Default rate',
  datetime.datetime(2017, 9, 12, 12, 46, 36, 906416, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),
  datetime.datetime(2017, 9, 12, 12, 46, 36, 906427, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),
  1000,
  Decimal('20.00'),
  None)]

#### current user

In [4]:
sql = '''select current_user'''
cursor.execute(sql)
cursor.fetchall()

[('uh_mzocvti0pmas3',)]

#### current database

In [5]:
sql = '''select current_database()'''
cursor.execute(sql)
cursor.fetchall()

[('rdsbroker_723069ee_da4e_4005_91bb_05ae87d4c572',)]

#### databases

In [6]:
sql = '''SELECT * FROM current_catalog'''
cursor.execute(sql)
cursor.fetchall()

[('rdsbroker_723069ee_da4e_4005_91bb_05ae87d4c572',)]

#### tables

In [7]:
sql = ''' select table_name from information_schema.tables '''
cursor.execute(sql)
cursor.fetchall()

[('geography_columns',),
 ('geometry_columns',),
 ('spatial_ref_sys',),
 ('raster_columns',),
 ('raster_overviews',),
 ('pg_type',),
 ('pg_user_mappings',),
 ('pg_policy',),
 ('pg_settings',),
 ('pg_subscription',),
 ('pg_stat_user_tables',),
 ('pg_stat_xact_user_tables',),
 ('pg_attribute',),
 ('pg_proc',),
 ('pg_class',),
 ('pg_attrdef',),
 ('pg_constraint',),
 ('pg_statio_all_tables',),
 ('pg_statio_sys_tables',),
 ('pg_statio_user_tables',),
 ('pg_stat_all_indexes',),
 ('pg_inherits',),
 ('pg_index',),
 ('pg_operator',),
 ('pg_opfamily',),
 ('pg_opclass',),
 ('pg_am',),
 ('pg_amop',),
 ('pg_amproc',),
 ('pg_language',),
 ('pg_largeobject_metadata',),
 ('pg_aggregate',),
 ('pg_statistic_ext',),
 ('pg_rewrite',),
 ('pg_trigger',),
 ('pg_event_trigger',),
 ('pg_description',),
 ('pg_cast',),
 ('pg_enum',),
 ('pg_namespace',),
 ('pg_conversion',),
 ('pg_depend',),
 ('pg_database',),
 ('pg_db_role_setting',),
 ('pg_tablespace',),
 ('pg_pltemplate',),
 ('pg_auth_members',),
 ('pg_shdepend',),
 ('pg_shdescription',),
 ('pg_ts_config',),
 ('pg_ts_config_map',),
 ('pg_ts_dict',),
 ('pg_ts_parser',),
 ('pg_ts_template',),
 ('pg_extension',),
 ('pg_foreign_data_wrapper',),
 ('pg_foreign_server',),
 ('pg_foreign_table',),
 ('pg_replication_origin',),
 ('pg_default_acl',),
 ('pg_init_privs',),
 ('pg_seclabel',),
 ('pg_shseclabel',),
 ('pg_collation',),
 ('pg_partitioned_table',),
 ('pg_range',),
 ('pg_transform',),
 ('pg_sequence',),
 ('pg_publication',),
 ('pg_publication_rel',),
 ('pg_subscription_rel',),
 ('pg_roles',),
 ('pg_locks',),
 ('pg_group',),
 ('pg_user',),
 ('pg_policies',),
 ('pg_rules',),
 ('pg_views',),
 ('pg_tables',),
 ('pg_matviews',),
 ('pg_indexes',),
 ('pg_sequences',),
 ('pg_stats',),
 ('pg_publication_tables',),
 ('pg_cursors',),
 ('pg_available_extensions',),
 ('pg_available_extension_versions',),
 ('pg_prepared_xacts',),
 ('pg_prepared_statements',),
 ('pg_seclabels',),
 ('pg_timezone_names',),
 ('pg_timezone_abbrevs',),
 ('pg_stat_all_tables',),
 ('pg_stat_xact_all_tables',),
 ('pg_stat_sys_tables',),
 ('pg_stat_xact_sys_tables',),
 ('pg_stat_sys_indexes',),
 ('pg_stat_user_indexes',),
 ('pg_statio_all_indexes',),
 ('pg_statio_sys_indexes',),
 ('pg_statio_user_indexes',),
 ('pg_statio_all_sequences',),
 ('pg_statio_sys_sequences',),
 ('pg_statio_user_sequences',),
 ('pg_stat_activity',),
 ('pg_stat_replication',),
 ('pg_stat_wal_receiver',),
 ('pg_stat_subscription',),
 ('pg_stat_ssl',),
 ('pg_replication_slots',),
 ('pg_stat_database',),
 ('pg_stat_database_conflicts',),
 ('pg_stat_user_functions',),
 ('pg_stat_xact_user_functions',),
 ('pg_stat_archiver',),
 ('pg_stat_bgwriter',),
 ('pg_stat_progress_vacuum',),
 ('information_schema_catalog_name',),
 ('attributes',),
 ('applicable_roles',),
 ('administrable_role_authorizations',),
 ('check_constraint_routine_usage',),
 ('character_sets',),
 ('check_constraints',),
 ('collations',),
 ('collation_character_set_applicability',),
 ('column_domain_usage',),
 ('column_privileges',),
 ('routine_privileges',),
 ('column_udt_usage',),
 ('columns',),
 ('constraint_column_usage',),
 ('role_routine_grants',),
 ('constraint_table_usage',),
 ('domain_constraints',),
 ('domain_udt_usage',),
 ('routines',),
 ('domains',),
 ('enabled_roles',),
 ('key_column_usage',),
 ('schemata',),
 ('parameters',),
 ('referential_constraints',),
 ('sql_languages',),
 ('role_column_grants',),
 ('sequences',),
 ('sql_features',),
 ('sql_implementation_info',),
 ('sql_packages',),
 ('sql_sizing',),
 ('sql_sizing_profiles',),
 ('view_routine_usage',),
 ('table_constraints',),
 ('table_privileges',),
 ('foreign_table_options',),
 ('role_table_grants',),
 ('view_table_usage',),
 ('tables',),
 ('triggered_update_columns',),
 ('foreign_data_wrappers',),
 ('triggers',),
 ('views',),
 ('udt_privileges',),
 ('role_udt_grants',),
 ('usage_privileges',),
 ('data_type_privileges',),
 ('role_usage_grants',),
 ('user_defined_types',),
 ('view_column_usage',),
 ('element_types',),
 ('column_options',),
 ('foreign_server_options',),
 ('foreign_data_wrapper_options',),
 ('user_mapping_options',),
 ('foreign_servers',),
 ('foreign_tables',),
 ('user_mappings',),
 ('investor_profile_investorprofile_time_horizons',),
 ('investor_profile_investorprofile',),
 ('investor_profile_investorprofile_uk_region_locations',),
 ('investor_profile_assetclassinterestsector',),
 ('company_list_companylist',),
 ('auth_permission',),
 ('investment_investmentproject_strategic_drivers',),
 ('django_content_type',),
 ('investment_investmentproject_business_activities',),
 ('investment_investmentproject_uk_region_locations',),
 ('auth_group_permissions',),
 ('investment_investmentproject_client_contacts',),
 ('metadata_team',),
 ('auth_group',),
 ('interaction_interactionditparticipant',),
 ('investment_investmentproject_competitor_countries',),
 ('investment_investmentsector',),
 ('investment_fdisicgrouping',),
 ('investment_gvamultiplier',),
 ('investment_investmentproject',),
 ('interaction_interaction',),
 ('interaction_interaction_contacts',),
 ('metadata_administrativearea',),
 ('investment_investmentactivitytype',),
 ('investment_investmentactivity',),
 ('investor_profile_investorprofile_asset_classes_of_interest',),
 ('investor_profile_constructionrisk',),
 ('investor_profile_investorprofile_construction_risks',),
 ('investor_profile_dealticketsize',),
 ('investor_profile_desireddealrole',),
 ('investor_profile_investorprofile_deal_ticket_sizes',),
 ('investor_profile_largecapitalinvestmenttype',),
 ('investor_profile_investorprofile_desired_deal_roles',),
 ('investor_profile_investorprofile_investment_types',),
 ('company_advisor_user_permissions',),
 ('company_onelisttier',),
 ('investor_profile_investortype',),
 ('company_company_export_to_countries',),
 ('company_advisor_groups',),
 ('company_exportexperiencecategory',),
 ('company_company_future_interest_countries',),
 ('django_admin_log',),
 ('company_onelistcoreteammember',),
 ('company_companieshousecompany',),
 ('company_contact',),
 ('investor_profile_equitypercentage',),
 ('django_migrations',),
 ('django_session',),
 ('dnb_match_dnbmatchingcsvrecord',),
 ('event_programme',),
 ('event_eventtype',),
 ('evidence_evidencedocument',),
 ('event_event_teams',),
 ('documents_document',),
 ('event_locationtype',),
 ('dnb_match_dnbmatchingresult',),
 ('evidence_evidencetag',),
 ('feature_flag_featureflag',),
 ('event_event',),
 ('event_event_related_programmes',),
 ('investor_profile_returnrate',),
 ('evidence_evidencedocument_tags',),
 ('interaction_policyarea',),
 ('investment_investmentprojectcode',),
 ('interaction_policyissuetype',),
 ('interaction_servicedeliverystatus',),
 ('investment_investmentdeliverypartner',),
 ('company_advisor',),
 ('investment_investmentproject_actual_uk_regions',),
 ('interaction_interaction_policy_areas',),
 ('interaction_communicationchannel',),
 ('investment_investmentprojectstagelog',),
 ('interaction_interaction_policy_issue_types',),
 ('investment_investmentproject_delivery_partners',),
 ('investment_likelihoodtoland',),
 ('investment_projectmanagerrequeststatus',),
 ('investment_specificprogramme',),
 ('investment_involvement',),
 ('metadata_employeerange',),
 ('metadata_fditype',),
 ('investment_investortype',),
 ('metadata_businesstype',),
 ('investment_investmentprojectteammember',),
 ('metadata_headquartertype',),
 ('metadata_fdivalue',),
 ('metadata_investmentprojectstage',),
 ('metadata_investmentbusinessactivity',),
 ('metadata_investmentstrategicdriver',),
 ('investor_profile_investorprofile_other_countries_being_cons84de',),
 ('metadata_sectorcluster',),
 ('metadata_salaryrange',),
 ('metadata_turnoverrange',),
 ('metadata_investmenttype',),
 ('metadata_overseasregion',),
 ('metadata_teamrole',),
 ('metadata_teamrole_groups',),
 ('metadata_sector',),
 ('metadata_referralsourceactivity',),
 ('metadata_title',),
 ('metadata_referralsourcewebsite',),
 ('metadata_referralsourcemarketing',),
 ('omis-payment_refund',),
 ('oauth2_provider_grant',),
 ('oauth2_provider_accesstoken',),
 ('oauth2_provider_application',),
 ('omis-market_market',),
 ('omis-quote_quote',),
 ('omis-quote_termsandconditions',),
 ('omis-invoice_invoice',),
 ('omis-payment_paymentgatewaysession',),
 ('omis-region_ukregionalsettings',),
 ('omis-payment_payment',),
 ('omis-order_hourlyrate',),
 ('investor_profile_profiletype',),
 ('oauth_oauthapplicationscope',),
 ('oauth2_provider_refreshtoken',),
 ('report_spireport',),
 ('user_event_log_userevent',),
 ('order_order_service_types',),
 ('reversion_revision',),
 ('proposition_proposition',),
 ('proposition_propositiondocument',),
 ('investor_profile_requiredchecksconducted',),
 ('order_order',),
 ('order_servicetype',),
 ('reversion_version',),
 ('order_orderassignee',),
 ('order_ordersubscriber',),
 ('order_cancellationreason',),
 ('investor_profile_restriction',),
 ('investor_profile_investorprofile_restrictions',),
 ('company_company',),
 ('investor_profile_assetclassinterest',),
 ('investor_profile_largecapitalinvestorprofile_asset_classes_6eb3',),
 ('investor_profile_largecapitalinvestorprofile_construction_risks',),
 ('investor_profile_largecapitalinvestorprofile_deal_ticket_sizes',),
 ('investor_profile_largecapitalinvestorprofile_desired_deal_roles',),
 ('investor_profile_largecapitalinvestorprofile_investment_types',),
 ('metadata_country',),
 ('investor_profile_largecapitalinvestorprofile_other_countrie8ce0',),
 ('investor_profile_largecapitalinvestorprofile_restrictions',),
 ('investor_profile_timehorizon',),
 ('investor_profile_largecapitalinvestorprofile_time_horizons',),
 ('investor_profile_largecapitalinvestorprofile',),
 ('metadata_ukregion',),
 ('investor_profile_largecapitalinvestorprofile_uk_region_loca4ce4',),
 ('interaction_servicequestion',),
 ('interaction_serviceansweroption',),
 ('interaction_serviceadditionalquestion',),
 ('company_list_companylistitem',),
 ('metadata_service',)]

#### information_schema.tables column_names

In [8]:
sql = ''' select column_name from information_schema.columns where table_name='tables' and table_schema='information_schema' '''
cursor.execute(sql)
cursor.fetchall()

[('table_catalog',),
 ('table_schema',),
 ('table_name',),
 ('table_type',),
 ('self_referencing_column_name',),
 ('reference_generation',),
 ('user_defined_type_catalog',),
 ('user_defined_type_schema',),
 ('user_defined_type_name',),
 ('is_insertable_into',),
 ('is_typed',),
 ('commit_action',)]

#### schemas

In [9]:
sql = ''' select distinct(table_schema) from information_schema.tables '''
cursor.execute(sql)
cursor.fetchall()

[('public',), ('pg_catalog',), ('information_schema',)]

#### tables in the public schema

In [10]:
sql = ''' select table_name from information_schema.tables where table_schema='public' order by table_name '''
cursor.execute(sql)
cursor.fetchall()

[('auth_group',),
 ('auth_group_permissions',),
 ('auth_permission',),
 ('company_advisor',),
 ('company_advisor_groups',),
 ('company_advisor_user_permissions',),
 ('company_companieshousecompany',),
 ('company_company',),
 ('company_company_export_to_countries',),
 ('company_company_future_interest_countries',),
 ('company_contact',),
 ('company_exportexperiencecategory',),
 ('company_list_companylist',),
 ('company_list_companylistitem',),
 ('company_onelistcoreteammember',),
 ('company_onelisttier',),
 ('django_admin_log',),
 ('django_content_type',),
 ('django_migrations',),
 ('django_session',),
 ('dnb_match_dnbmatchingcsvrecord',),
 ('dnb_match_dnbmatchingresult',),
 ('documents_document',),
 ('event_event',),
 ('event_event_related_programmes',),
 ('event_event_teams',),
 ('event_eventtype',),
 ('event_locationtype',),
 ('event_programme',),
 ('evidence_evidencedocument',),
 ('evidence_evidencedocument_tags',),
 ('evidence_evidencetag',),
 ('feature_flag_featureflag',),
 ('geography_columns',),
 ('geometry_columns',),
 ('interaction_communicationchannel',),
 ('interaction_interaction',),
 ('interaction_interaction_contacts',),
 ('interaction_interactionditparticipant',),
 ('interaction_interaction_policy_areas',),
 ('interaction_interaction_policy_issue_types',),
 ('interaction_policyarea',),
 ('interaction_policyissuetype',),
 ('interaction_serviceadditionalquestion',),
 ('interaction_serviceansweroption',),
 ('interaction_servicedeliverystatus',),
 ('interaction_servicequestion',),
 ('investment_fdisicgrouping',),
 ('investment_gvamultiplier',),
 ('investment_investmentactivity',),
 ('investment_investmentactivitytype',),
 ('investment_investmentdeliverypartner',),
 ('investment_investmentproject',),
 ('investment_investmentproject_actual_uk_regions',),
 ('investment_investmentproject_business_activities',),
 ('investment_investmentproject_client_contacts',),
 ('investment_investmentprojectcode',),
 ('investment_investmentproject_competitor_countries',),
 ('investment_investmentproject_delivery_partners',),
 ('investment_investmentprojectstagelog',),
 ('investment_investmentproject_strategic_drivers',),
 ('investment_investmentprojectteammember',),
 ('investment_investmentproject_uk_region_locations',),
 ('investment_investmentsector',),
 ('investment_investortype',),
 ('investment_involvement',),
 ('investment_likelihoodtoland',),
 ('investment_projectmanagerrequeststatus',),
 ('investment_specificprogramme',),
 ('investor_profile_assetclassinterest',),
 ('investor_profile_assetclassinterestsector',),
 ('investor_profile_constructionrisk',),
 ('investor_profile_dealticketsize',),
 ('investor_profile_desireddealrole',),
 ('investor_profile_equitypercentage',),
 ('investor_profile_investorprofile',),
 ('investor_profile_investorprofile_asset_classes_of_interest',),
 ('investor_profile_investorprofile_construction_risks',),
 ('investor_profile_investorprofile_deal_ticket_sizes',),
 ('investor_profile_investorprofile_desired_deal_roles',),
 ('investor_profile_investorprofile_investment_types',),
 ('investor_profile_investorprofile_other_countries_being_cons84de',),
 ('investor_profile_investorprofile_restrictions',),
 ('investor_profile_investorprofile_time_horizons',),
 ('investor_profile_investorprofile_uk_region_locations',),
 ('investor_profile_investortype',),
 ('investor_profile_largecapitalinvestmenttype',),
 ('investor_profile_largecapitalinvestorprofile',),
 ('investor_profile_largecapitalinvestorprofile_asset_classes_6eb3',),
 ('investor_profile_largecapitalinvestorprofile_construction_risks',),
 ('investor_profile_largecapitalinvestorprofile_deal_ticket_sizes',),
 ('investor_profile_largecapitalinvestorprofile_desired_deal_roles',),
 ('investor_profile_largecapitalinvestorprofile_investment_types',),
 ('investor_profile_largecapitalinvestorprofile_other_countrie8ce0',),
 ('investor_profile_largecapitalinvestorprofile_restrictions',),
 ('investor_profile_largecapitalinvestorprofile_time_horizons',),
 ('investor_profile_largecapitalinvestorprofile_uk_region_loca4ce4',),
 ('investor_profile_profiletype',),
 ('investor_profile_requiredchecksconducted',),
 ('investor_profile_restriction',),
 ('investor_profile_returnrate',),
 ('investor_profile_timehorizon',),
 ('metadata_administrativearea',),
 ('metadata_businesstype',),
 ('metadata_country',),
 ('metadata_employeerange',),
 ('metadata_fditype',),
 ('metadata_fdivalue',),
 ('metadata_headquartertype',),
 ('metadata_investmentbusinessactivity',),
 ('metadata_investmentprojectstage',),
 ('metadata_investmentstrategicdriver',),
 ('metadata_investmenttype',),
 ('metadata_overseasregion',),
 ('metadata_referralsourceactivity',),
 ('metadata_referralsourcemarketing',),
 ('metadata_referralsourcewebsite',),
 ('metadata_salaryrange',),
 ('metadata_sector',),
 ('metadata_sectorcluster',),
 ('metadata_service',),
 ('metadata_team',),
 ('metadata_teamrole',),
 ('metadata_teamrole_groups',),
 ('metadata_title',),
 ('metadata_turnoverrange',),
 ('metadata_ukregion',),
 ('oauth2_provider_accesstoken',),
 ('oauth2_provider_application',),
 ('oauth2_provider_grant',),
 ('oauth2_provider_refreshtoken',),
 ('oauth_oauthapplicationscope',),
 ('omis-invoice_invoice',),
 ('omis-market_market',),
 ('omis-order_hourlyrate',),
 ('omis-payment_payment',),
 ('omis-payment_paymentgatewaysession',),
 ('omis-payment_refund',),
 ('omis-quote_quote',),
 ('omis-quote_termsandconditions',),
 ('omis-region_ukregionalsettings',),
 ('order_cancellationreason',),
 ('order_order',),
 ('order_orderassignee',),
 ('order_order_service_types',),
 ('order_ordersubscriber',),
 ('order_servicetype',),
 ('proposition_proposition',),
 ('proposition_propositiondocument',),
 ('raster_columns',),
 ('raster_overviews',),
 ('report_spireport',),
 ('reversion_revision',),
 ('reversion_version',),
 ('spatial_ref_sys',),
 ('user_event_log_userevent',)]

- ('omis-invoice_invoice',),
- ('omis-market_market',),
- ('omis-order_hourlyrate',),
- ('omis-payment_payment',),
- ('omis-payment_paymentgatewaysession',),
- ('omis-payment_refund',),
- ('omis-quote_quote',),
- ('omis-quote_termsandconditions',),
- ('omis-region_ukregionalsettings',),

## explore tables

In [11]:
# omis-invoice_invoice
sql = ''' 
select 
  column_name 
  
from information_schema.columns 

where table_name='omis-invoice_invoice' and 
  table_schema='public' 
'''
cursor.execute(sql)
cursor.fetchall()

[('created_on',),
 ('modified_on',),
 ('id',),
 ('invoice_number',),
 ('invoice_company_name',),
 ('invoice_address_1',),
 ('invoice_address_2',),
 ('invoice_address_town',),
 ('invoice_address_county',),
 ('invoice_address_postcode',),
 ('invoice_vat_number',),
 ('created_by_id',),
 ('invoice_address_country_id',),
 ('modified_by_id',),
 ('payment_due_date',),
 ('billing_address_1',),
 ('billing_address_2',),
 ('billing_address_country_id',),
 ('billing_address_county',),
 ('billing_address_postcode',),
 ('billing_address_town',),
 ('billing_company_name',),
 ('billing_contact_name',),
 ('po_number',),
 ('contact_email',),
 ('net_cost',),
 ('subtotal_cost',),
 ('total_cost',),
 ('vat_cost',),
 ('vat_number',),
 ('vat_status',),
 ('vat_verified',),
 ('order_reference',)]

In [12]:
def peek_at_table(connection, table, n_rows=10, schema='public'):
    sql = '''
    select * from {schema}."{table}" limit {n_rows}
    '''.format(schema=schema, table=table, n_rows=n_rows)
    cursor = connection.cursor()
    cursor.execute(sql)
    rows = cursor.fetchall()
    columns = [d[0] for d in cursor.description]
    df = pd.DataFrame(rows, columns=columns)
    return df

#### omis tables

In [13]:
sql = ''' 
select 
  table_name 
  
from information_schema.tables 

where table_schema='public' and 
  table_name ilike 'omis%' 
  
order by table_name 

'''
cursor.execute(sql)
tables = [r[0] for r in cursor.fetchall()]
tables

['omis-invoice_invoice',
 'omis-market_market',
 'omis-order_hourlyrate',
 'omis-payment_payment',
 'omis-payment_paymentgatewaysession',
 'omis-payment_refund',
 'omis-quote_quote',
 'omis-quote_termsandconditions',
 'omis-region_ukregionalsettings']

In [14]:
for t in tables:
    print('table: {}'.format(t))
    df = peek_at_table(connection, t)
    df = df[sorted(df.columns)]
    display(df.head())

table: omis-invoice_invoice

,billing_address_1,billing_address_2,billing_address_country_id,billing_address_county,billing_address_postcode,billing_address_town,billing_company_name,billing_contact_name,contact_email,created_by_id,...,net_cost,order_reference,payment_due_date,po_number,subtotal_cost,total_cost,vat_cost,vat_number,vat_status,vat_verified
0,Leeds City Centre,,80756b9a-5d95-e211-a939-e4115bead28a,,LS2 8AE,Leeds,,Coffee Cup,,None,...,10000,MFU928/17,2017-11-09,,10000,10000,0,,outside_eu,None
1,Department of International Trade,3 Whitehall Place,80756b9a-5d95-e211-a939-e4115bead28a,Greater London,SW1A 2AW,London,,Justin Example,,None,...,6000,NYX674/17,2017-11-30,,6000,7200,1200,wqdeqwewqeqw,eu,False
2,,,None,,,,,,,None,...,1000,TVM974/17,2020-01-01,,1000,1000,0,,outside_eu,None
3,66 Marcham Road,,80756b9a-5d95-e211-a939-e4115bead28a,,BD23 8RZ,Bordley,,Jenny Cakeman,,None,...,1500,PYJ789/17,2017-10-21,PO1372AMN,1500,1800,300,,uk,None
4,,,None,,,,,,,None,...,0,MEK318/17,2017-09-22,,0,0,0,,,None

table: omis-market_market

,country_id,disabled_on,manager_email
0,0350bdb8-5d95-e211-a939-e4115bead28a,2010-01-01 00:00:00+00:00,
1,0450bdb8-5d95-e211-a939-e4115bead28a,2010-01-01 00:00:00+00:00,
2,0550bdb8-5d95-e211-a939-e4115bead28a,NaT,
3,0650bdb8-5d95-e211-a939-e4115bead28a,2010-01-01 00:00:00+00:00,
4,0750bdb8-5d95-e211-a939-e4115bead28a,2010-01-01 00:00:00+00:00,

table: omis-order_hourlyrate

,created_on,disabled_on,id,modified_on,name,rate_value,vat_value
0,2017-09-12 12:46:36.906416+00:00,None,7e1ca5c3-dc5a-e511-9d3c-e4115bead28a,2017-09-12 12:46:36.906427+00:00,Default rate,1000,20.00

table: omis-payment_payment

,additional_reference,amount,billing_address_1,billing_address_2,billing_address_country,billing_address_county,billing_address_postcode,billing_address_town,billing_email,billing_fax,...,giro_slip_number,id,method,modified_by_id,modified_on,order_id,received_on,reference,sort_code,transaction_reference
0,,11000,,,,,,,,,...,,4cce09b6-bf89-4589-9bc2-0b29164fdf7b,bacs,None,2017-10-17 18:10:07.787891+00:00,ce6975ce-f034-4175-9fd7-41903edde747,2017-10-10,201710170001,,
1,,11000,,,,,,,,,...,,fde9d302-085f-45b7-84e9-140aa527864f,bacs,None,2017-10-18 10:56:45.316566+00:00,419af569-db12-4d41-8f00-a8c764faf578,2017-10-10,201710180001,,
2,,167,,,,,,,,,...,,f06fbe5a-48a2-4d25-9ffb-872a707dc66f,bacs,None,2017-10-18 14:36:18.815598+00:00,44397fda-6965-4f41-855b-ec0cc4ed5d0a,2017-10-10,201710180002,,
3,,1200,,,,,,,,,...,,9c69dde8-4ab3-4a47-a5ff-e5441e6fa519,bacs,None,2017-10-23 14:33:46.380076+00:00,80112856-1c37-4664-9227-fa79c4663c00,2017-10-10,201710230001,,
4,,1500000,,,,,,,,,...,,9417b0e4-05cc-45a7-b7d5-7f2aecb1f039,bacs,None,2017-10-23 14:34:47.735483+00:00,af1a08dc-287d-4c2a-9708-29ae8c3dd3e2,2017-10-10,201710230002,,

table: omis-payment_paymentgatewaysession

,created_by_id,created_on,govuk_payment_id,id,modified_by_id,modified_on,order_id,status
0,None,2018-03-05 11:15:38.278320+00:00,urii84eputgigtintgoeeolhou,7204b3fd-6ef0-4f83-ba5b-6b6a8e51d13b,None,2018-03-05 11:16:18.614244+00:00,b171225e-bade-4c11-8996-de9d30c8f9e0,cancelled
1,None,2018-03-05 11:16:18.888738+00:00,g8e0u705m9653u3mnbuh81gnj4,f5cb49bf-0d1d-4eaf-a7ea-df0605033197,None,2018-03-05 11:21:23.554326+00:00,b171225e-bade-4c11-8996-de9d30c8f9e0,cancelled
2,None,2018-03-05 11:21:23.810618+00:00,jk07jqm0kr8m27nqfgmdr5s3h2,6b904710-a2f0-43ca-9b10-fcccc2fbc42c,None,2018-03-05 11:21:42.491311+00:00,b171225e-bade-4c11-8996-de9d30c8f9e0,cancelled
3,None,2018-03-05 11:21:42.778567+00:00,0lm8ptvbov3lg4uc24tv5sndme,00aae1df-a290-4411-9d6f-53b3d6467620,None,2018-03-05 11:21:46.103690+00:00,b171225e-bade-4c11-8996-de9d30c8f9e0,cancelled
4,None,2018-03-05 11:22:04.192033+00:00,v1p3uqbgdp1vk3a5rvg2d4ntc6,f87588d2-7492-41d2-a1c8-3f25db2e393a,None,2018-03-05 11:24:48.945667+00:00,b171225e-bade-4c11-8996-de9d30c8f9e0,cancelled

table: omis-payment_refund

Empty DataFrame
Columns: [additional_reference, created_by_id, created_on, id, level1_approval_notes, level1_approved_by_id, level1_approved_on, level2_approval_notes, level2_approved_by_id, level2_approved_on, method, modified_by_id, modified_on, net_amount, order_id, payment_id, reference, refund_reason, rejection_reason, requested_amount, requested_by_id, requested_on, status, total_amount, vat_amount]
Index: []

[0 rows x 25 columns]

table: omis-quote_quote

,accepted_by_id,accepted_on,cancelled_by_id,cancelled_on,content,created_by_id,created_on,expires_on,id,modified_by_id,modified_on,reference,terms_and_conditions_id
0,None,None,None,NaT,Date: 1 September 2017\n\nDear Fred Smith\n\n#...,8036f207-ae3e-e611-8d53-e4115bed50dc,2017-09-01 19:20:27.550429+00:00,2030-01-01,78a83403-f22f-4a9c-81f0-254965c94882,8036f207-ae3e-e611-8d53-e4115bed50dc,2017-09-01 19:20:27.550451+00:00,VKA536/17/Q-AM2,None
1,None,None,None,NaT,Date: 4 September 2017\n\nDear Fred Smith\n\n#...,8036f207-ae3e-e611-8d53-e4115bed50dc,2017-09-04 13:14:36.476560+00:00,2030-01-01,0b45aba3-5a98-44c3-856c-f4fb5385fca3,8036f207-ae3e-e611-8d53-e4115bed50dc,2017-09-04 13:14:36.476574+00:00,YJN275/17/Q-JE2,None
2,None,None,None,NaT,Date: 5 September 2017\n\nDear Alysia Tolley\n...,8036f207-ae3e-e611-8d53-e4115bed50dc,2017-09-05 10:43:22.883381+00:00,2030-01-01,90b1223c-48b0-44e6-ade6-65cb4af35b42,8036f207-ae3e-e611-8d53-e4115bed50dc,2017-09-05 10:43:22.883393+00:00,ACA227/17/Q-XH7,None
3,None,None,None,NaT,Date: 5 September 2017\n\nDear Fred Smith\n\n#...,8036f207-ae3e-e611-8d53-e4115bed50dc,2017-09-05 14:23:49.800132+00:00,2030-01-01,a15381d9-5a6f-414f-9244-8dbb11469dbb,8036f207-ae3e-e611-8d53-e4115bed50dc,2017-09-05 14:23:49.800144+00:00,VCT694/17/Q-EC1,None
4,None,None,8036f207-ae3e-e611-8d53-e4115bed50dc,2017-09-05 16:43:02.307124+00:00,Date: 5 September 2017\n\nDear Alysia Tolley\n...,8036f207-ae3e-e611-8d53-e4115bed50dc,2017-09-05 16:07:11.223002+00:00,2030-01-01,417de348-0531-469b-9415-d69918977c3b,None,2017-09-05 16:43:02.307232+00:00,MJE896/17/Q-RF6,None

table: omis-quote_termsandconditions

,content,created_on,id,name
0,**ANNEX 1**\n\n**TERMS &amp; CONDITIONS FOR DE...,2017-11-07 11:00:00+00:00,c5920488-88dc-49f3-86c0-32e9b80bae82,v1.0
1,**ANNEX 1**\n\n**TERMS &amp; CONDITIONS FOR DE...,2018-02-05 11:00:00+00:00,8c2a0eff-87fc-452f-814f-012e5862a24f,v1.1

table: omis-region_ukregionalsettings

Empty DataFrame
Columns: [manager_emails, uk_region_id]
Index: []

### omis tables with a country field

In [15]:
for t in tables:
    print('table: {}'.format(t))
    df = peek_at_table(connection, t)
    df = df[sorted(df.columns)]
    df = df[[c for c in df.columns if 'country' in c]]
    display(df.head())

table: omis-invoice_invoice

             billing_address_country_id            invoice_address_country_id
0  80756b9a-5d95-e211-a939-e4115bead28a  80756b9a-5d95-e211-a939-e4115bead28a
1  80756b9a-5d95-e211-a939-e4115bead28a  80756b9a-5d95-e211-a939-e4115bead28a
2                                  None  80756b9a-5d95-e211-a939-e4115bead28a
3  80756b9a-5d95-e211-a939-e4115bead28a  80756b9a-5d95-e211-a939-e4115bead28a
4                                  None  80756b9a-5d95-e211-a939-e4115bead28a

table: omis-market_market

                             country_id
0  0350bdb8-5d95-e211-a939-e4115bead28a
1  0450bdb8-5d95-e211-a939-e4115bead28a
2  0550bdb8-5d95-e211-a939-e4115bead28a
3  0650bdb8-5d95-e211-a939-e4115bead28a
4  0750bdb8-5d95-e211-a939-e4115bead28a

table: omis-order_hourlyrate

Empty DataFrame
Columns: []
Index: [0]

table: omis-payment_payment

  billing_address_country
0
1
2
3
4

table: omis-payment_paymentgatewaysession

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

table: omis-payment_refund

Empty DataFrame
Columns: []
Index: []

table: omis-quote_quote

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

table: omis-quote_termsandconditions

Empty DataFrame
Columns: []
Index: [0, 1]

table: omis-region_ukregionalsettings

Empty DataFrame
Columns: []
Index: []

#### order_order table

In [16]:
df = peek_at_table(connection, 'order_order')
df.head()

,created_on,modified_on,id,reference,company_id,contact_id,primary_market_id,sector_id,created_by_id,modified_by_id,...,invoice_id,archived_documents_url_path,completed_by_id,completed_on,cancelled_by_id,cancelled_on,cancellation_reason_id,paid_on,billing_company_name,uk_region_id
0,2017-09-19 14:44:40.475923+00:00,2017-09-19 15:48:43.759397+00:00,5ccc4ed7-612a-420b-91d9-35402a9c8177,FFE437/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,87756b9a-5d95-e211-a939-e4115bead28a,ab38cecc-5f95-e211-a939-e4115bead28a,8036f207-ae3e-e611-8d53-e4115bed50dc,8036f207-ae3e-e611-8d53-e4115bed50dc,...,None,,None,None,None,None,None,None,,None
1,2017-07-20 09:50:18.987038+00:00,2017-09-19 14:01:38.869309+00:00,504b7a34-c083-4e7a-998b-61cbe7b6b269,EYX193/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,a25f66a0-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None
2,2017-07-20 09:52:41.835052+00:00,2017-09-19 14:01:38.876354+00:00,9a3c3fed-dc06-43d3-bbe8-273287b387bf,HJM766/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,985f66a0-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None
3,2017-07-20 10:00:32.197394+00:00,2017-09-19 14:01:38.879690+00:00,b55e4fa7-1be6-4f60-9e40-5cde76106e4c,UHH394/17,dcdabbc9-1781-e411-8955-e4115bead28a,64f7aa36-0334-4628-a7c3-682328d613f6,9c5f66a0-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None
4,2017-07-20 10:22:03.779422+00:00,2017-09-19 14:01:38.882959+00:00,36e582d4-430c-47b3-ac95-85ebbf1945b7,UPC628/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,83756b9a-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None

## country fields in the `order_order` table

In [17]:
df = peek_at_table(connection, 'order_order')
df = df[[c for c in df.columns if 'country' in c]]
df.head()

  billing_address_country_id
0                       None
1                       None
2                       None
3                       None
4                       None

In [18]:
df = peek_at_table(connection, 'order_order')
df = df[df['billing_address_country_id'].notnull()]
df.head()

Empty DataFrame
Columns: [created_on, modified_on, id, reference, company_id, contact_id, primary_market_id, sector_id, created_by_id, modified_by_id, contacts_not_to_approach, description, existing_agents, further_info, permission_to_approach_contacts, product_info, delivery_date, contact_email, contact_phone, quote_id, status, po_number, hourly_rate_id, discount_label, discount_value, vat_number, vat_status, vat_verified, net_cost, subtotal_cost, total_cost, vat_cost, public_token, billing_address_1, billing_address_2, billing_address_country_id, billing_address_county, billing_address_postcode, billing_address_town, billing_contact_name, billing_email, billing_phone, invoice_id, archived_documents_url_path, completed_by_id, completed_on, cancelled_by_id, cancelled_on, cancellation_reason_id, paid_on, billing_company_name, uk_region_id]
Index: []

[0 rows x 52 columns]

#### primary markets

In [19]:
df = peek_at_table(connection, 'order_order')
unique_primary_markets = df['primary_market_id'].unique()
print('{} unique primary markets:'.format(len(unique_primary_markets)))
unique_primary_markets

9 unique primary markets:

array(['87756b9a-5d95-e211-a939-e4115bead28a',
       'a25f66a0-5d95-e211-a939-e4115bead28a',
       '985f66a0-5d95-e211-a939-e4115bead28a',
       '9c5f66a0-5d95-e211-a939-e4115bead28a',
       '83756b9a-5d95-e211-a939-e4115bead28a',
       '9f5f66a0-5d95-e211-a939-e4115bead28a',
       '945f66a0-5d95-e211-a939-e4115bead28a',
       '0350bdb8-5d95-e211-a939-e4115bead28a',
       '975f66a0-5d95-e211-a939-e4115bead28a'], dtype=object)

In [20]:
# omis-market_market
table = 'omis-market_market'
df = peek_at_table(connection, table, n_rows=300)
len(df)

248

In [21]:
df[df['country_id'] == '87756b9a-5d95-e211-a939-e4115bead28a']

                               country_id manager_email disabled_on
156  87756b9a-5d95-e211-a939-e4115bead28a                       NaT

### `order_order` table

In [22]:
table = 'order_order'
df = peek_at_table(connection, table)
df.head()

,created_on,modified_on,id,reference,company_id,contact_id,primary_market_id,sector_id,created_by_id,modified_by_id,...,invoice_id,archived_documents_url_path,completed_by_id,completed_on,cancelled_by_id,cancelled_on,cancellation_reason_id,paid_on,billing_company_name,uk_region_id
0,2017-09-19 14:44:40.475923+00:00,2017-09-19 15:48:43.759397+00:00,5ccc4ed7-612a-420b-91d9-35402a9c8177,FFE437/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,87756b9a-5d95-e211-a939-e4115bead28a,ab38cecc-5f95-e211-a939-e4115bead28a,8036f207-ae3e-e611-8d53-e4115bed50dc,8036f207-ae3e-e611-8d53-e4115bed50dc,...,None,,None,None,None,None,None,None,,None
1,2017-07-20 09:50:18.987038+00:00,2017-09-19 14:01:38.869309+00:00,504b7a34-c083-4e7a-998b-61cbe7b6b269,EYX193/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,a25f66a0-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None
2,2017-07-20 09:52:41.835052+00:00,2017-09-19 14:01:38.876354+00:00,9a3c3fed-dc06-43d3-bbe8-273287b387bf,HJM766/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,985f66a0-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None
3,2017-07-20 10:00:32.197394+00:00,2017-09-19 14:01:38.879690+00:00,b55e4fa7-1be6-4f60-9e40-5cde76106e4c,UHH394/17,dcdabbc9-1781-e411-8955-e4115bead28a,64f7aa36-0334-4628-a7c3-682328d613f6,9c5f66a0-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None
4,2017-07-20 10:22:03.779422+00:00,2017-09-19 14:01:38.882959+00:00,36e582d4-430c-47b3-ac95-85ebbf1945b7,UPC628/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,83756b9a-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None

In [23]:
sql = '''
select distinct
  company_id,
  primary_market_id,
  sector_id
  
from order_order

order by 1
'''

cursor = connection.cursor()
cursor.execute(sql)
rows = cursor.fetchall()
df = pd.DataFrame(rows, columns=[d[0] for d in cursor.description])
df.head()

,company_id,primary_market_id,sector_id
0,0f5216e0-849f-11e6-ae22-56b6b6499611,1950bdb8-5d95-e211-a939-e4115bead28a,355f977b-8ac3-e211-a646-e4115bead28a
1,0f5216e0-849f-11e6-ae22-56b6b6499611,1550bdb8-5d95-e211-a939-e4115bead28a,9838cecc-5f95-e211-a939-e4115bead28a
2,0f5216e0-849f-11e6-ae22-56b6b6499611,756a9ab2-5d95-e211-a939-e4115bead28a,355f977b-8ac3-e211-a646-e4115bead28a
3,0f5216e0-849f-11e6-ae22-56b6b6499611,5361b8be-5d95-e211-a939-e4115bead28a,355f977b-8ac3-e211-a646-e4115bead28a
4,0f5216e0-849f-11e6-ae22-56b6b6499611,e1f682ac-5d95-e211-a939-e4115bead28a,355f977b-8ac3-e211-a646-e4115bead28a