In [1]:
import pandas as pd, psycopg2
from utils.conduit import cf_auto_connect_to_database as conduit_connect

In [2]:
def peek_at_table(connection, table, n_rows=10, schema='public'):
    sql = '''
    select * from {schema}."{table}" limit {n_rows}
    '''.format(schema=schema, table=table, n_rows=n_rows)
    df = query_database(connection, sql)
    return df

def query_database(connection, sql):
    if connection.get_transaction_status() == psycopg2.extensions.TRANSACTION_STATUS_INERROR:
        connection.reset()
    cursor = connection.cursor()
    cursor.execute(sql)
    rows = cursor.fetchall()
    columns = [d[0] for d in cursor.description]
    df = pd.DataFrame(rows, columns=columns)
    return df

In [3]:
connection = conduit_connect('datahub-dev-db', 'datahub-dev')

logged in
conduit is already running
processes: [13016, 13019]
trying to connect, attempt: 1
connection was successful

In [4]:
sql = ''' select table_name from information_schema.tables where table_schema='public' order by 1 '''
df = query_database(connection, sql)
df.head()

               table_name
0              auth_group
1  auth_group_permissions
2         auth_permission
3         company_advisor
4  company_advisor_groups

In [5]:
sql = ''' select * from order_order limit 10 '''
df = query_database(connection, sql)
df.head()

,created_on,modified_on,id,reference,company_id,contact_id,primary_market_id,sector_id,created_by_id,modified_by_id,...,invoice_id,archived_documents_url_path,completed_by_id,completed_on,cancelled_by_id,cancelled_on,cancellation_reason_id,paid_on,billing_company_name,uk_region_id
0,2017-09-19 14:44:40.475923+00:00,2017-09-19 15:48:43.759397+00:00,5ccc4ed7-612a-420b-91d9-35402a9c8177,FFE437/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,87756b9a-5d95-e211-a939-e4115bead28a,ab38cecc-5f95-e211-a939-e4115bead28a,8036f207-ae3e-e611-8d53-e4115bed50dc,8036f207-ae3e-e611-8d53-e4115bed50dc,...,None,,None,None,None,None,None,None,,None
1,2017-07-20 09:50:18.987038+00:00,2017-09-19 14:01:38.869309+00:00,504b7a34-c083-4e7a-998b-61cbe7b6b269,EYX193/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,a25f66a0-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None
2,2017-07-20 09:52:41.835052+00:00,2017-09-19 14:01:38.876354+00:00,9a3c3fed-dc06-43d3-bbe8-273287b387bf,HJM766/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,985f66a0-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None
3,2017-07-20 10:00:32.197394+00:00,2017-09-19 14:01:38.879690+00:00,b55e4fa7-1be6-4f60-9e40-5cde76106e4c,UHH394/17,dcdabbc9-1781-e411-8955-e4115bead28a,64f7aa36-0334-4628-a7c3-682328d613f6,9c5f66a0-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None
4,2017-07-20 10:22:03.779422+00:00,2017-09-19 14:01:38.882959+00:00,36e582d4-430c-47b3-ac95-85ebbf1945b7,UPC628/17,dcdabbc9-1781-e411-8955-e4115bead28a,ec1be329-ae82-47a9-9d65-c289f91c39ed,83756b9a-5d95-e211-a939-e4115bead28a,None,None,None,...,None,,None,None,None,None,None,None,,None

In [6]:
connection = conduit_connect('countries_of_interest_service_db', 'data-workspace-apps-dev')

logged in
conduit is already running
processes: [13051, 13054]
trying to connect, attempt: 1
connection was successful

In [7]:
sql = ''' select table_name from information_schema.tables where table_schema='public' order by 1 '''
df = query_database(connection, sql)
df

          table_name
0  geography_columns
1   geometry_columns
2     raster_columns
3   raster_overviews
4    spatial_ref_sys